#Ignore everything
*

# Allow gitignore
!.gitignore

# Allow source code
!/src/**

# Allow custom scripts to run AFS
!afs.bat
!afs.sh

#ReadMe
!README.md

# Allow CoCo/R
!/CocoR/**

# Allow Gradle
!/gradle/**
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle

# Allow project settings
!.idea/misc.xml
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/checkstyle-idea.xml
!.idea/.name

# Ignore user-specific IntelliJ settings
.idea/workspace.xml
.idea/vcs.xml