# Ignore everything
*

# Keep CoCo/R, AFS, and gradle files
!/CocoR/**
!/src/**
!/gradle/**
!.gitignore
!afs.bat
!afs.sh
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!README.md
!settings.gradle

# Keep TypeChecker.java
!/src/main/java/afs/checker/

# Keep typeChecker tests folder
!/src/test/java/afs/checker/**
